#ignore bin directory
bin/
#ignore emacs backups
*~
#ignore objects
*.o
#ignore other binaries created by make
*.exe
screenfetch-c
x11test
gltest

# Xmake cache
.xmake/
build/

# MacOS Cache
.DS_Store

# VScode
.vscode

#cosmocc
cosmocc*/

#kate stuff???
.cache*/

#other stuff
compile_commands.json
.clangd
